body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ADD8e6;
    overflow-x: hidden;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

section {
    flex: 1;
    text-align: center;
    margin: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 35px;
    font-style: italic;
}

h2 {
    line-height: 24px;
}

h3 {
    font-size: 26px;
    line-height: 0px;
}

h4 {
    font-size: 17px;
}

p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 800px;
}

div.report {
    width: 100%;
    padding: 20px;
    text-align: center;

}

div.vid {
    width: 1000px;
    flex-direction: row;
    padding-right: 20px;
}

#logo {
    max-width: 300px;
    height: auto;
}

section.photo {
    display: inline-block;
    justify-content: center;
    padding-left: 50px;
}

section.photo img {
    width: 250px;
    height: 350px;
    border: 3px solid #2C7DA0;
}

nav {
    background-color: #333;
    padding: 15px;
    width: 100%;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #00B4D8;
}
